<h1>Add a new task</h1>

<form action="/create_task" method="POST">
<p><input type="text" name="content" placeholder="add task description">
<button type="submit" name="save_task">Save</button></p>
</form>