<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/blog.css">
		<title>Rachel Blog</title>
	</head>
	<body>
		<header>Rachel Blog</header>
		<nav>Home About me Archive Photos</nav>
		<div class="articleContainer">
		<article>
			<h1>All about Rachel<span id="authorLine">by @rachelguerin23</span></h1>
		</article>
		</div>
		<div class="articleContainer">
		<article>
			<h2>Photos!</h2>
			<p style="text-align: center;"><img src="/dave.jpg"/><img src="/fam.jpg"/></p>
		</article>
		</div>
		<div class="articleContainer">
		<article>
			<h2>Past work experience</h2>
				<table>
					<thead><tr>
						<td>Company</td><td>Role</td><td>Period</td>
					</tr></thead>
					<tbody>
					<tr>
						<td>Oxford University Press, España</td><td>Digital Project Manager</td><td>2011-2015</td>
					</tr>
					<tr>
						<td>ENDE Solutions</td><td>Project Manager</td><td>2008-2011</td>
					</tr>
					<tr>
						<td>Ministerio de Defensa, Escuela de Guerra</td><td>Developer</td><td>2006-2007</td>
					</tr>
					<tr>
						<td>NOVA English Academy</td><td>English Tutor, Head Teacher</td><td>2001-2005</td>
					</tr>
					</tbody>
				</table>
		</article>
		</div>
		<div class="articleContainer">
		<article>
			<h2>Favourite foods</h2>
			<p><ul>
				<li>Sushi</li>
				<li>Sushi (yes, I know it's a repeat, I just really like sushi)</li>
				<li>Dessert</li>
				<li>Roast Lamb</li>
				<li>It's probably easier to list things I don't like. I like most foods.</li>
			</ul></p>
		</article>
		</div>
		<div class="articleContainer">
		<article>	
			<h2>Top 10 movies</h2>
			<p><ol reversed>			
				<li><img src="http://ia.media-imdb.com/images/M/MV5BNTkxMjkxNzg3Nl5BMl5BanBnXkFtZTgwNjUyMDI3NjE@._V1_SY317_CR12,0,214,317_AL_.jpg" alt="Dune"></li>
				<li><img src="http://ia.media-imdb.com/images/M/MV5BMTU1ODQ4NjQyOV5BMl5BanBnXkFtZTgwOTQ3NDU2MTE@._V1_SX214_AL_.jpg" alt="Alien"><img src="http://ia.media-imdb.com/images/M/MV5BMTYzNzU5MzQ4OV5BMl5BanBnXkFtZTcwMDcxNDg3OA@@._V1_SY317_CR12,0,214,317_AL_.jpg" alt="Aliens"><img src="http://ia.media-imdb.com/images/M/MV5BMTQzMTg3NTM2Ml5BMl5BanBnXkFtZTcwMTkzMTk3OA@@._V1_SX214_AL_.jpg" alt="Alien3"><img src="http://ia.media-imdb.com/images/M/MV5BMTc2MDIyMjc3N15BMl5BanBnXkFtZTcwNzQzODAwMQ@@._V1_SY317_CR2,0,214,317_AL_.jpg" alt="Alien Resurrection"></li>	
				<li><img src="http://ia.media-imdb.com/images/M/MV5BMTkzMDgyNjQwM15BMl5BanBnXkFtZTgwNTg2Mjc1MDE@._V1_SY317_CR0,0,214,317_AL_.jpg" alt="The Princess Bride"></li>
				<li><img src="http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX214_AL_.jpg" alt="Shawshank Redemption"></li>
				<li><img src="http://ia.media-imdb.com/images/M/MV5BMTU4NTczODkwM15BMl5BanBnXkFtZTcwMzEyMTIyMw@@._V1_SX214_AL_.jpg" alt="A New Hope"><img src="http://ia.media-imdb.com/images/M/MV5BMjE2MzQwMTgxN15BMl5BanBnXkFtZTcwMDQzNjk2OQ@@._V1_SY317_CR0,0,214,317_AL_.jpg" alt="The Empire Strikes Back"><img src="http://ia.media-imdb.com/images/M/MV5BMTQ0MzI1NjYwOF5BMl5BanBnXkFtZTgwODU3NDU2MTE@._V1._CR93,97,1209,1861_SX214_AL_.jpg" alt="Return of the Jedi"></li>
				<li><img src="http://ia.media-imdb.com/images/M/MV5BMTczNTkyOTIzN15BMl5BanBnXkFtZTgwNjY3MjQxMDE@._V1_SY317_CR0,0,214,317_AL_.jpg" alt="Labyrinth"></li>
				<li><img src="http://ia.media-imdb.com/images/M/MV5BMTY3MjM1Mzc4N15BMl5BanBnXkFtZTgwODM0NzAxMDE@._V1_SY317_CR0,0,214,317_AL_.jpg" alt="A Clockwork Orange"></li>	
				<li><img src="http://ia.media-imdb.com/images/M/MV5BMjE5NDc0NjE2NF5BMl5BanBnXkFtZTcwMTE4MTI3NA@@._V1_SX214_AL_.jpg" alt="The Rocky Horror Picture Show"></li>					
				<li><img src="http://ia.media-imdb.com/images/M/MV5BMjYxMDcyMzIzNl5BMl5BanBnXkFtZTYwNDg2MDU3._V1_SY317_CR5,0,214,317_AL_.jpg" alt="Sen to Chihiro (Spirited Away)"></li>	
				<li><img src="http://ia.media-imdb.com/images/M/MV5BNTEyMjAwMDU1OV5BMl5BanBnXkFtZTcwNDQyNTkxMw@@._V1_SY317_CR1,0,214,317_AL_.jpg" alt="The Lord of the Rings"/><img src="http://ia.media-imdb.com/images/M/MV5BMTAyNDU0NjY4NTheQTJeQWpwZ15BbWU2MDk4MTY2Nw@@._V1_SY317_CR1,0,214,317_AL_.jpg" alt="The Two Towers"/><img src="http://ia.media-imdb.com/images/M/MV5BMjE4MjA1NTAyMV5BMl5BanBnXkFtZTcwNzM1NDQyMQ@@._V1_SX214_AL_.jpg" alt="The Return of the King"/></li>
			</ol>
			</p>
		</article>
		</div>
		<div class="articleContainer">
		<article>
			<h2>Top 10 books</h2>
			<p><ol reversed>			
				<li><img src="http://www.abc.net.au/radionational/image/4285342-3x4-700x933.jpg" alt="The Harp in the South"></li>
				<li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/99/Earthsea_Trilogy.jpg/350px-Earthsea_Trilogy.jpg" alt="Earthsea series"></li>
				<li><img src="http://wrongspelling.com/wp-content/uploads/2015/04/farseer-trilogy.jpg" alt="Farseer trilogy"></li>
				<li><img src="https://upload.wikimedia.org/wikipedia/en/9/9b/Bachmanbooks.JPG" alt="The Bachman Books"></li>	
				<li><img src="https://upload.wikimedia.org/wikipedia/en/7/73/Oldmansea.jpg" alt="The Old Man and the Sea"></li>
				<li><img src="https://upload.wikimedia.org/wikipedia/en/a/a2/The_7_Habits_of_Highly_Effective_People.jpg" alt="The 7 Habits of Highly Effective People"></li>
				<li><img src="http://www.gstatic.com/tv/thumb/movieposters/1587/p1587_p_v8_aa.jpg" alt="A Clockwork Orange"></li>		
				<li><img src="https://upload.wikimedia.org/wikipedia/en/8/85/Sandman_no.1_%28Modern_Age%29.comiccover.jpg" alt="Sandman (graphic novel)"></li>
									
				<li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/First_Single_Volume_Edition_of_The_Lord_of_the_Rings.gif/225px-First_Single_Volume_Edition_of_The_Lord_of_the_Rings.gif" alt="Lord of the Rings"></li>	
				<li><img src="https://upload.wikimedia.org/wikipedia/en/0/09/Brock_Pride_and_Prejudice.jpg" alt="Pride and Prejudice"></li>
			</ol></p>
		</article>
		</div>
		
		<footer>
			<p>Copyleft Rachel Guerin 2016</p>
			<p><a href="https://es.linkedin.com/in/rachelguerin">LinkedIn</a>
				| <a href="https://twitter.com/rachelguerin23">Twitter</a>
				| <a href="https://github.com/rachelguerin">GitHub</a></p>		
		</footer>
	</body>
</html>